body {
    margin: 0;
    background-color: gray;

    #game {
        #desk {

        }

        #rules {

        }

        #papers {
            div {
                background-color: lightgray;
                display: inline-block;
            }

            #PaymentCertificate {
                position: relative;
                left: 10%;
                top: 15%;

                .name {

                }
                
                .birthDate {

                }
                
                .sex {

                }
                
                .method {

                }
                
                .date {

                }
                
                .amount {

                }    
            }

            #StudentCard {
                .name {

                }
                
                .birthDate {

                }
                
                .sex {

                }
                
                .photo {

                }
            }
            
            #AbsencesRecords {
                .name {

                }
                
                .records {

                }

                .AbsenceRecordLine {
                    .date {

                    }
        
                    .subject {

                    }
        
                    .professor {

                    }    
                }

                .total {

                }
            }
            
            #ECTSAccount {
                .name {

                }

                .birthDate {

                }

                .sieste {

                }

                .soiree {

                }

                .procrastination {

                }

                .prise_en_main_grig {

                }

                .minimisation_de_l_effort {

                }
            }
            
            #ProjectValidation {
                .name {

                }

                .date {

                }

                .professor {

                }
            }
            
            #TripValidation {
                .name {

                }

                .tartDate {

                }

                .endDate {

                }

                .professor {

                }
            }
            
            #ProspectionValidation {
                .name {

                }

                .sign {

                }
            }
        }

        #actions {
            #diplomer {
                
            }

            #redoubler {

            }
        }
    }
}
